# Based on: https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore

# Mac:
.DS_Store

# Build:
build/

# Gradle:
.gradle/

# IntelliJ IDEA folder. Is recreated when opened for the first time.
.idea/

# Android Debugging:
/captures

# Project Specific AVDs
/avd

# Local properties:
**/local.properties